<!-- HABILITAR Y DESABILITAR BUTTOM -->
<!-- <app-habilitar-buttom></app-habilitar-buttom> -->

<!-- REPETIDOR SIMPLE -->
<!-- <app-repetidor></app-repetidor> -->

<!-- REPETIDOR AÚN MAS SIMPLE (two way binding "FormsModule")  -->
<!-- <app-repetidor3></app-repetidor3> -->


<!-- REPETIDOR CON GUARDADO EN VARIABLE -->
<!-- <app-repetidor2></app-repetidor2> -->

<!-- CALCULADORA -->
<!-- <app-calculara-simple></app-calculara-simple> -->

<!-- CAMBIAR EL TITULO -->
<!-- <app-print-wbuttom></app-print-wbuttom> -->

<!-- PLACEHOLDER DINAMICO -->
<!-- <app-dinamic-placeholder></app-dinamic-placeholder> -->

<!-- NGIF -->
<!-- <app-if></app-if> -->

<!-- NGELSE -->
<!-- <app-else></app-else> -->

<!-- NGFOR -->
<!-- <app-for></app-for> -->

<!-- PADRE A HIJO -->
<!-- <app-padre></app-padre> -->


<!-- Input -->
<!-- <app-input></app-input> -->

<!-- output -->
<!-- <app-output></app-output> -->


<!-- CALCULADORA PADRE - HIJO -->
<!-- <app-calculadora></app-calculadora> -->

<!-- REFERENCIAS LOCALES -->
<!-- <app-rlocales></app-rlocales> -->

<!-- REFERENCIAS LOCALES CON VIEWCHILD -->
<!-- <app-view-child></app-view-child> -->

<!-- SERVICIOS -->
<!-- <app-test-services></app-test-services> -->

<!-- SERVICIOS PERSONALES -->
<!-- <app-original-services></app-original-services> -->


<!-- INTERPOLACIÓN -->
<!-- <app-interpolacion></app-interpolacion> -->

<!-- PROPETY BINDING -->
<!-- <app-binding></app-binding> -->

<!-- EVENT BINDING -->
<!-- <app-event-binding></app-event-binding> -->


<!-- TWO WAY BINDING -->
<!-- <app-two-way-banding></app-two-way-banding> -->


<!-- DIRECTIVAS -->
<app-directiva></app-directiva>