<!-- <app-notificaciones></app-notificaciones> -->

<!-- Ciclo -->
<!-- <app-ciclo-for></app-ciclo-for> -->

<!-- Estilos -->
<!-- <app-estilos></app-estilos> -->


<!-- Padre Hijo -->
<!-- <app-padre></app-padre> -->

<!-- Hijo Padre -->
<!-- <app-hijo-apadre></app-hijo-apadre> -->


<!-- Servicio Componente -->
<!-- <app-servicios-componente></app-servicios-componente> -->

<!-- Rutas -->
<app-rutas></app-rutas>
<!-- Para gestionar las rutas desde este componente utilizamos un router outlet -->
<router-outlet></router-outlet>